body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;
}

select {
    text-transform: capitalize;
    border: 1px solid #c1cada;
    padding: 0.8em 0.5em;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    width: 100%;
    min-width: 150px;
    background-color: #FFFFFF;
    appearance: auto;
}

select:hover {
    border-color: #00398d;
    box-shadow: 0 0 5px 0 rgba(0, 57, 141, 0.6);
    transition: all 0.3s ease-in-out;
}

.InputBox {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 1em;
}

label {
    position: absolute;
    top: 20px;
    left: 12px;
    color: #c1cada;
    background-color: transparent;
    transition: all 0.2s;
    font-size: 0.5rem;
    pointer-events: none;
}

#rights{
    padding: .5em 1em;
    text-align: center;
    background-color: #e8edf3;
    border-top: 1px solid #7A99C8;
    color: #00398d;
    font-weight: bold;
    font-size: 1em;
}